.container {
    max-width: 450px;
    margin: 0 auto;
    background-color: orangered;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.header {
 display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.title {
    color: orange;
    font-size: 18px;
    font-weight: bold;
}

.photo-frame {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.photo-frame input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="mail"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

input[type="submit"],
input[type="button"] {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #ff6600;
}
/*style accueil*/
.background1 {
    background-image: url("image/background1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.menu-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.recher-icon {
    font-size: 2px; /* Taille de l'icône */
    color: #555; /* Couleur de l'icône */
    cursor: pointer; /* Curseur de la souris au survol */
}
/*style accueilapprenant*/
background-image {
    background-image: url("background-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Bienvenue_mes{
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.Bienvenue_mes h1 {
    font-size: 36px;
}

.Bienvenue_mes p {
    font-size: 18px;
}
/*login*/

.container3 {
    background-color: #fff;
}

.login-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header h1 {
    color: orange;
}

.form-container3 {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="submit"],
input[type="reset"] {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: darkorange;
}
/*tableau*/


